<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->
<div th:insert="fragments/fragments :: alert"></div>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container">
        <ol class="breadcrumb opacity-5">
            <li><a href="/templates/home.html">Home</a><i
                    class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>

            <li class="active">Hospital departments</li>
        </ol>
        <h1 class="font-weight-300">Hospital Departments</h1>
    </div>
</div>

<div class="margin-tb-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <th:block th:each="department:${departments}"
                              th:object="${department}">
                        <div class="col-lg-6 margin-bottom-40px">
                            <div class="thum">
                                <a th:href="@{/departments/department/{id} (id=*{id})}"
                                ><img th:src="*{photo}" alt=""
                                /></a>
                            </div>
                            <div class="padding-30px background-white">
                                <a th:href="@{/departments/department/{id} (id=*{id})}">
                                    <i class="fas fa-stethoscope text-main-color"></i>
                                    <span th:text="|Department: *{medicalBranchesEnum}| "> Some longer sample text</span>
                                </a>
                                <div>
                                <span class="margin-right-20px text-large">
                                    <i class="fas fa-user-md text-grey-2">

                                    </i>
                    <a th:href="@{/doctors/doctor/{doctorId} (doctorId=*{doctorId})}"
                       th:text="|*{firstDoctorName}| ">

                    </a>
                                </span>

                                </div>

                            </div>

                        </div>

                    </th:block>

                </div>



            </div>
            <div class="col-lg-4">



                <div class="featured-categorey">
                    <div class="row">
                        <div class="col-6 margin-bottom-30px wow fadeInUp">
                            <a th:href="@{/doctors/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-1.png" alt="">
                                    </div>
                                    Doctors
                                </div>
                            </a>
                        </div>
                        <div class="col-6 margin-bottom-30px wow fadeInUp" data-wow-delay="0.2s">
                            <a th:href="@{/departments/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-2.png" alt="">
                                    </div>
                                    Hospital Departments
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/fragments :: footer"></div>
<div th:insert="fragments/fragments :: js"></div>

</body>
</html>
