<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->
<div th:insert="fragments/fragments :: alert"></div>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container">
        <ol class="breadcrumb opacity-5">
            <li><a th:href="@{/home}">Home</a><i class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>
            <li><a th:href="@{/departments/all}">Departmnets</a></li>
            <li class="active">Departments name</li>
        </ol>
        <h1 class="font-weight-300" th:text="${department.name}">Alrayan Eye Clinic</h1>
    </div>
</div>


<div class="margin-tb-30px">
    <div class="container" th:object="${department}">
        <div class="row">
            <div class="col-lg-8">

                <div class="margin-bottom-30px box-shadow">
                    <img th:src="*{photo}" alt="">
                    <div class="padding-30px background-white">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="rating clearfix">
                                        <span class=" text-main-color" th:text="|Head Doctor: *{headDoctor}| "><i
                                                class="fas fa-user-md "></i> Head
                                            Doctor</span>
                                    <div class="rating">
                                        <ul>
                                            <th:block th:each="i: ${#numbers.sequence(1, rating.rating)}">
                                                <li class="active"></li>
                                            </th:block>
                                            <th:block th:each="i: ${#numbers.sequence(1, rating.leftField)}">
                                                <li></li>
                                            </th:block>


                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <th:block sec:authorize="hasRole('ROLE_PATIENT')">
                                <div class="col-lg-6">


                                    <div class="d-inline-flex p-2"><a
                                            th:href="@{/examinations/add}" class="text-red"><i
                                            class="far fa-heart"></i>Add Examination</a></div>

                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>


                <div class="margin-bottom-30px box-shadow">
                    <div class="padding-30px background-white">
                        <h3><i class="fas fa-stethoscope margin-right-10px text-main-color"></i> About Department</h3>
                        <hr>
                        <p class="text-grey-2" th:text="*{description}"> Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Pariatur,
                            et distinctio laboriosam eos quaerat alias doloribus adipisci ab illo perferendis
                            mollitia nisi reiciendis quia, deserunt quas numquam, ad totam esse.</p>
                    </div>
                </div>
                <h3><i class="far fa-star margin-right-10px text-main-color"></i> Review &amp; Rating</h3>

<th:block th:each="review : ${department.reviews}" th:object="${review}">

    <div th:insert="fragments/fragments :: reviews"></div>
</th:block>



                <!-- Review  -->
                <th:block th:if="${canPatientAdd}" sec:authorize="hasRole('ROLE_PATIENT')">
                    <div class="margin-bottom-30px box-shadow">
                        <div class="padding-30px background-white">
                            <h3><i class="far fa-star margin-right-10px text-main-color"></i> Add Review </h3>
                            <hr>
                            <form th:action="@{/departments/department/{id} (id=${depId})}"
                                  method="POST"
                                  th:object="${review}">


                                <label><i
                                        class="fas fa-stethoscope margin-right-10px text-main-color"></i>
                                    Choose doctor:</label>
                                <select name="doctorName"
                                        th:field="*{doctorName}"
                                        required="required"
                                        th:errorclass="is-invalid"
                                        type="text" class="form-control form-control-lg"
                                        id="department"
                                >
                                    <option th:each="name : ${doctors}"
                                            th:value="${name}" th:text="${name}"></option>
                                </select>
                                <small th:if="${#fields.hasErrors('doctorName')}" th:errors="*{doctorName}"

                                       class="text-light form-text bg-danger rounded">custom error</small>

                                <div class="form-group">
                                    <label>Comment :</label>
                                    <textarea th:field="*{comment}"
                                              required="required"
                                              class="form-control" rows="3"
                                              placeholder="Comment"></textarea>
                                </div>
                                <small th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"

                                       class="text-light form-text bg-danger rounded">custom error</small>
                                <div>
                                    <label for="input-1" class="control-label">Rating:</label>
                                    <input
                                            required="required"
                                            th:field="*{rating}"
                                            id="input-1" name="input-1" class="rating rating-loading" data-min="0"
                                            data-max="5" data-step="1" value="0">
                                    <br/>
                                </div>
                                <small th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"

                                       class="text-light form-text bg-danger rounded">custom error</small>
                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                        type="submit"><i
                                        class=" fas fa-hand-holding-medical"></i> Add Review
                                </button>


                            </form>
                        </div>
                    </div>
                </th:block>


            </div>
            <div class="col-lg-4">
                <div class="background-second-color border-radius-10 margin-bottom-45px text-white box-shadow">
                    <h3 class="padding-lr-30px padding-top-20px"><i class="far fa-clock margin-right-10px"></i> Work
                        Time</h3>
                    <div class="padding-bottom-30px">
                        <ul class="padding-0px margin-0px">
                            <li class="padding-lr-30px padding-tb-10px">Monday <span class="float-right"
                                                                                     th:text="*{monday}">10:00 AM -
                                        5:00 PM</span></li>
                            <li class="padding-lr-30px padding-tb-10px ba-2">Tuesday <span class="float-right"
                                                                                           th:text="*{tuesday}">10:00
                                        AM - 5:00 PM</span></li>
                            <li class="padding-lr-30px padding-tb-10px">Wednesday <span class="float-right"
                                                                                        th:text="*{wednesday}">10:00 AM
                                        - 5:00 PM</span></li>
                            <li class="padding-lr-30px padding-tb-10px ba-2">Thursday <span
                                    class="float-right" th:text="*{thursday}">10:00 AM - 5:00 PM</span></li>
                            <li class="padding-lr-30px padding-tb-10px">Friday <span class="float-right"
                                                                                     th:text="*{friday}">10:00 AM -
                                        5:00 PM</span></li>

                        </ul>
                    </div>
                </div>


                <div class="featured-categorey">
                    <div class="row">
                        <div class="col-6 margin-bottom-30px wow fadeInUp">
                            <a th:href="@{/doctors/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div
                                        class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-1.png" alt="">
                                    </div>
                                    Doctors
                                </div>
                            </a>
                        </div>
                        <div class="col-6 margin-bottom-30px wow fadeInUp" data-wow-delay="0.2s">
                            <a th:href="@{/departments/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div
                                        class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-2.png" alt="">
                                    </div>
                                    Departments
                                </div>
                            </a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="fragments/fragments :: footer"></div>
<div th:insert="fragments/fragments :: js"></div>

<script
        th:src="@{/js/starRating.js}"
></script>
</body>

</html>