<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->


<!-- Navigation-->

<div class="content-wrapper">
    <div class="container-fluid overflow-hidden">
        <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">

            <div class="col-xl-3 col-md-6 margin-bottom-30px">
                <a href="/templates/admin-panel/admin-all-examinations.html"
                   class="d-block padding-30px background-main-color box-shadow border-radius-10 hvr-float">
                    <h6 class="text-white margin-0px font-weight-400">
                        <i class="fas fa-stethoscope text-icon-large margin-bottom-10px opacity-5 d-block"></i>
                        <span class="font-2 text-extra-large" th:text="${examinations}">1456</span>
                        <span class="margin-left-10px">Examinations</span>
                    </h6>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 margin-bottom-30px">
                <a href="/templates/hospital-doctors/doctors-list.html"
                   class="d-block padding-30px background-lime box-shadow border-radius-10 hvr-float">
                    <h6 class="text-white margin-0px font-weight-400">
                        <i class="fas fa-user-md text-icon-large margin-bottom-10px opacity-5 d-block"></i>
                        <span class="font-2 text-extra-large" th:text="${doctors}">450</span>
                        <span class="margin-left-10px">Doctors</span>
                    </h6>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 margin-bottom-30px">
                <a href="/templates/admin-panel/all-reviews.html"
                   class="d-block padding-30px background-amber box-shadow border-radius-10 hvr-float">
                    <h6 class="text-white margin-0px font-weight-400">
                        <i class="far fa-star text-icon-large margin-bottom-10px opacity-5 d-block"></i>
                        <span class="font-2 text-extra-large" th:text="${reviews}">12,550</span>
                        <span class="margin-left-10px">Total Reviews</span>
                    </h6>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 margin-bottom-30px">
                <a class="d-block padding-30px background-red box-shadow border-radius-10 hvr-float">
                    <h6 class="text-white margin-0px font-weight-400">
                        <i class="fas fa-user-plus  text-icon-large margin-bottom-10px opacity-5 d-block"></i>
                        <span class="font-2 text-extra-large" th:text="${patients}">2,560,456</span>
                        <span class="margin-left-10px">Patients</span>
                    </h6>
                </a>
            </div>

            <div class="col-12">

                <!--                <div class="alert alert-info  margin-bottom-35px border-radius-10 padding-30px">-->
                <!--                    <strong>Success!</strong> Indicates a successful or positive action.-->
                <!--                    <hr>-->
                <!--                    <p class="margin-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
                <!--                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>-->
                <!--                </div>-->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-20 box-shadow">
                                <h3><i class="far fa-bell margin-right-10px text-main-color"></i> Latest Examinations
                                </h3>
                                <hr>
                                <div class="padding-25px">
                                    <h3 class="margin-lr-20px"><i
                                            class="fas fa-search margin-right-10px text-main-color"></i>
                                        Search Examinations</h3>
                                    <!-- Listing Search -->
                                    <div class="listing-search">
                                        <form>
                                            <div class="keywords margin-bottom-20px">
                                                <input class="listing-form first border-radius-10" type="text"
                                                       placeholder="Patient or Doctor name..." id="searchExamination">
                                            </div>
                                        </form>
                                    </div>
                                    <!-- // Listing Search -->
                                </div>

                            </div>

                        </div>
                        <div id="ExaminationName">
                            <th:block
                                    th:each="examination:${allExamination}"
                                    th:object="${examination}">
                                <div th:insert="fragments/fragments :: examinations"></div>
                            </th:block>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- -->
                        <div class="margin-bottom-30px">
                            <div class="padding-30px background-white border-radius-20 box-shadow">
                                <h3><i class="far fa-star margin-right-10px text-main-color"></i>Reviews: </h3>
                                <hr>
                                <div class="padding-25px">
                                    <h3 class="margin-lr-20px"><i
                                            class="fas fa-search margin-right-10px text-main-color"></i>
                                        Search reviews by doctor</h3>
                                    <!-- Listing Search -->
                                    <div class="listing-search">
                                        <form>
                                            <div class="keywords margin-bottom-20px">
                                                <input class="listing-form first border-radius-10" type="text"
                                                       placeholder="Doctor name..." id="searchReview">
                                            </div>
                                        </form>
                                    </div>
                                    <!-- // Listing Search -->
                                </div>
                                <div id="reviewsList">
                                    <th:block th:each="review : ${reviewsViews}" th:object="${review}">
                                        <div th:insert="fragments/fragments :: reviews"></div>
                                    </th:block>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <div th:insert="fragments/fragments :: footer"></div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->

</div>


<div th:insert="fragments/fragments :: js"></div>
<script src="/js/admin-home.js"></script>


</body>

</html>
