<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->

<!-- Navigation-->

<div class="content-wrapper">
    <div class="container-fluid overflow-hidden">
        <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
            <!-- Page Title -->
            <div id="page-title" class="padding-30px background-white full-width">
                <div class="container">
                    <ol class="breadcrumb opacity-5">
                        <li><a th:href="@{/home}">Home</a><i
                                class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>

                        <li class="active" th:text="${patient.fullName}"> name Name</li>
                    </ol>
                    <h1 class="font-weight-300">Patient Profile</h1>
                </div>
            </div>

            <form th:action="@{/patients/patient/profile}"
                  method="POST" th:object="${patient}"
                  enctype="multipart/form-data"

            >
                <div class="row margin-tb-45px full-width">
                    <div class="col-md-4">
                        <div
                                class="padding-15px background-white border-radius-20 box-shadow"
                        >
                            <div class="col-lr-6 padding-20px left-20px right-0px">
                                <img
                                        th:src="*{photo}"
                                        alt="placeholder 960"
                                        class="img-responsive"
                                />
                            </div>
                            <a
                                    href="#"
                                    class="btn btn-sm text-white background-main-color btn-block"
                            >Upload Image</a
                            >

                            <div class="padding-top-20px">
                                <a id="patientBody"

                                   class="btn btn-sm text-white background-main-color btn-block"
                                >Get data</a
                                >
                                <div th:insert="fragments/fragments :: body-field"></div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-8">
                        <div class="margin-bottom-45px full-width">
                            <div
                                    class="padding-30px background-white border-radius-20 box-shadow"
                            >
                                <div class="row">
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-user-plus margin-right-10px text-main-color"></i> Full
                                            name</label
                                        >
                                        <input
                                                required="required"
                                                maxlength="30"
                                                minlength="3"
                                                th:field="*{fullName}"
                                                type="text"
                                                class="form-control form-control-sm"
                                                placeholder="Patient full name"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-user-plus margin-right-10px text-main-color"></i>
                                            UserName</label
                                        >
                                        <input
                                                mixlength="3"
                                                maxlength="10"
                                                required="required"
                                                th:field="${user.username}"

                                                type="text"
                                                class="form-control form-control-sm"
                                                placeholder="Patient Username"
                                        />
                                    </div>

                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="far fa-envelope-open margin-right-10px text-main-color"
                                        ></i>
                                            Email</label
                                        >
                                        <input
                                                th:field="${user.email}"


                                                type="email"

                                                class="form-control form-control-sm"
                                                placeholder="info@yourname.com"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-mobile-alt margin-right-10px text-main-color"></i>
                                            Phone</label
                                        >
                                        <input
                                                required="required"
                                                pattern="^0\d{3}-\d{2}-\d{2}-\d{2}$"
                                                th:field="*{phone}"
                                                class="form-control form-control-sm"

                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="fas fa-restroom margin-right-10px text-main-color"
                                        ></i>
                                            Sex</label
                                        >
                                        <input
                                                th:field="*{sex}"
                                                type="text"
                                                class="form-control form-control-sm"
                                                placeholder="info@yourname.com"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-hand-holding-medical margin-right-10px text-main-color"></i>
                                            Age</label
                                        >
                                        <input
                                                min="0"
                                                max="100"
                                                name="age"
                                                required="required"
                                                th:field="*{age}"
                                                type="text"
                                                class="form-control form-control-sm"

                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="fas fa-arrows-alt-v margin-right-10px text-main-color"
                                        ></i>
                                            Height</label
                                        >
                                        <input
                                                min="0.50"
                                                max="2.50"
                                                type='number' step='0.10' value='1.00'
                                                name="height"
                                                required="required"
                                                th:field="*{height}"

                                                class="form-control form-control-sm"
                                                placeholder="1.86 cm"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-weight margin-right-10px"></i>
                                            Weight</label
                                        >
                                        <input
                                                name="weight"
                                                required="required"
                                                th:field="*{weight}"
                                                th:errorclass="is-invalid"
                                                min="20"
                                                max="250"
                                                type="number"
                                                step='1'
                                                class="form-control form-control-sm"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-book-medical margin-right-10px"></i>
                                            BMI index</label
                                        >
                                        <span type="text"
                                              class="text-black-color bold "
                                              th:text="*{bmi}"> Some longer sample text</span>


                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-running margin-right-10px"></i>
                                            Exercise</label
                                        >
                                        <!--                                        <input-->
                                        <!--                                                th:value="*{exercise}"-->
                                        <!--                                                type="text"-->
                                        <!--                                                class="form-control form-control-sm"-->
                                        <!--                                             -->
                                        <!--                                        />-->
                                        <select name="exercise"
                                                required="required"
                                                th:field="*{exercise}"
                                                th:errorclass="is-invalid"

                                                type="text" class="form-control form-control-lg">


                                            <option th:each="exercise : ${T(medical.medical.files.model.enums.ExerciseEnum).values()}"
                                                    th:value="${exercise}" th:text="${exercise}"></option>
                                        </select>


                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-wine-bottle margin-right-10px"></i>
                                            Drinking habits</label
                                        >
                                        <select name="drinking"
                                                required="required"
                                                th:field="*{drinking}"
                                                th:errorclass="is-invalid"
                                                type="text" class="form-control form-control-lg"
                                                placeholder="Your medical department">

                                            <option th:each="drinking : ${T(medical.medical.files.model.enums.DrinkingEnum).values()}"
                                                    th:value="${drinking}" th:text="${drinking}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-smoking margin-right-10px"></i>
                                            Smoking habits</label
                                        >
                                        <select name="smoking"
                                                required="required"
                                                th:field="*{smoking}"
                                                th:errorclass="is-invalid"
                                                type="text" class="form-control form-control-lg"
                                                placeholder="Your medical department">

                                            <option th:each="smoking : ${T(medical.medical.files.model.enums.SmokingEnum).values()}"
                                                    th:value="${smoking}" th:text="${smoking}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="margin-bottom-20px">
                                    <label class="text-main-color"
                                    ><i class="fas fa-biohazard margin-right-10px text-main-color"></i>
                                        Password</label
                                    >
                                    <input

                                            th:field="${user.oldPassword}"

                                            type="password"
                                            class="form-control form-control-sm"
                                            placeholder="002229456987"
                                    />
                                    <small th:if="${oldPasswordAsw}"

                                           class="text-light form-text bg-danger rounded">Enter valid password</small>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="fas fa-biohazard margin-right-10px text-main-color"
                                        ></i>
                                            New Password</label
                                        >
                                        <input
                                                th:field="${user.password}"

                                                type="password"
                                                class="form-control form-control-sm"
                                                placeholder="info@yourname.com"
                                        />
                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-biohazard margin-right-10px text-main-color"></i>
                                            Repeat new password</label
                                        >
                                        <input

                                                th:field="${user.repeatPassword}"

                                                type="password"
                                                class="form-control form-control-sm"
                                                placeholder="002229456987"
                                        />
                                    </div>
                                </div>

                                <a
                                        th:href="@{/patients/patient/my/diseases}"
                                        class=" btn btn-md padding-lr-25px text-white background-main-color btn-inline-block"
                                >Diseases</a
                                >
                                <a
                                        th:href="@{/patients/patient/my/examinations}"
                                        class="btn btn-md padding-lr-25px text-white background-main-color btn-inline-block"
                                >Examinations</a
                                >
                                <a
                                        th:href="@{/patients/patient/my/comments}"
                                        class="btn btn-md padding-lr-25px text-white background-main-color btn-inline-block"
                                >Reviews</a
                                >


                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                        type="submit"> Edit
                                </button>


                                <div class="btn-group">
                                    <a type="button" th:href="@{/patients/patient/my/delete}"

                                       class="btn btn-md padding-lr-25px text-white background-main-color btn-inline-block">Delete</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:insert="fragments/fragments :: footer"></div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->

</div>


<div th:insert="fragments/fragments :: js"></div>
<script src="/js/body.js"></script>
</body>
</html>
