<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>
<!-- // Header  -->
<header>
    <!-- Navigation-->
    <nav th:replace="fragments/fragments :: header"></nav>
</header>


<div class="content-wrapper">
    <div class="container-fluid overflow-hidden">
        <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
            <!-- Page Title -->
            <div id="page-title" class="padding-30px background-white full-width box-shadow">
                <div class="container">
                    <oi class="breadcrumb opacity-5">
                        <li><a th:href="@{/home}">Home</a><i
                                class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>
                        <li><a th:href="@{/patients/patient/profile}">Patient</a><i
                                class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>
                        <li class="active">Disease:</li>
                    </oi>
                    <h1 class="font-weight-300">Diseases</h1>

                </div>
            </div>
            <!-- // Page Title -->

        </div>

        <div class="margin-bottom-30px box-shadow">
            <div class="padding-30px background-white">
                <div class="border-bottom-1  .d-md-block border-grey-1 margin-bottom-20px">


                    <div class="margin-left-85px" th:each="disease : ${patientDiseases}" th:object="${disease}">
                        <div class="row">
                            <div class="col">
                                <span class="text-dark text-large" th:text="|Disease :  *{name}|">Disease:     </span>
                            </div>
                            <div class="col">
                                    <span class="col  text-dark text-large"
                                          th:text="|Type :  *{type}|">Type:B   </span>
                            </div>
                            <div class="col">
                                <p class="text-medium  text-grey-2" th:text="|Is curable:  *{isCurable}|"> Is
                                    curable:True </p>
                            </div>
                            <div class="col">
                                <p class="text-medium   text-grey-2" th:text="|Is chronic:  *{isChronic}|"> Is
                                    chronic:False </p>

                            </div>


                        </div>
                        <p class="text-medium   text-grey-2" th:text="|Description:  *{description}|"> Is
                            chronic:False </p>
                    </div>

                </div>


            </div>
        </div>


    </div>

    <div th:insert="fragments/fragments :: footer"></div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<div th:insert="fragments/fragments :: js"></div>


</body>

</html>
