<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->
<div th:insert="fragments/fragments :: alert"></div>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container">
        <ol class="breadcrumb opacity-5">
            <li text-main-color><a th:href="@{/home}">Home</a><i
                    class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>

            <li class="active">Doctors</li>
        </ol>
        <h1 class="font-weight-300">Doctors List</h1>
    </div>
</div>


<div class="margin-tb-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="row" id="doctorsRow"
                >

                    <!-- Doctor -->
                    <div class="col-lg-4 col-md-6 hvr-bob margin-bottom-45px"
                         th:each="doctor:${allDoctors}"
                         th:object="${doctor}" th:insert="fragments/fragments :: doctors">
                      
                    </div>
                    <!-- // Doctor -->


                </div>
                <!--todo-->
                <!--                <ul class="pagination pagination-md ">-->
                <!--                    <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a>-->
                <!--                    </li>-->
                <!--                    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                <!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                <!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <!--                    <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>-->
                <!--                </ul>-->

            </div>
            <div class="col-lg-4">

                <div class="background-white border-radius-10 margin-bottom-45px">
                    <div class="padding-25px">
                        <h3 class="margin-lr-20px"><i class="fas fa-search margin-right-10px text-main-color"></i>
                            Search Doctor</h3>
                        <!-- Listing Search -->
                        <div class="listing-search">
                            <form>
                                <div class="keywords margin-bottom-20px">
                                    <input class="listing-form first border-radius-10" type="text"
                                           placeholder="Doctor name..." id="searchDoctor">
                                </div>
                            </form>
                        </div>
                        <!-- // Listing Search -->
                    </div>
                </div>


                <div class="featured-categorey">
                    <div class="row">
                        <div class="col-6 margin-bottom-30px wow fadeInUp">
                            <a th:href="@{/doctors/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-1.png" alt="">
                                    </div>
                                    Doctors
                                </div>
                            </a>
                        </div>
                        <div class="col-6 margin-bottom-30px wow fadeInUp" data-wow-delay="0.2s">
                            <a th:href="@{/departments/all}" class="d-block border-radius-15 hvr-float hvr-sh2">
                                <div class="background-main-color text-white border-radius-15 padding-30px text-center opacity-hover-7">
                                    <div class="icon margin-bottom-15px opacity-7">
                                        <img src="/img/icon/categorie-2.png" alt="">
                                    </div>
                                    Hospital Departments
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="fragments/fragments :: footer"></div>
<div th:insert="fragments/fragments :: js"></div>


<script th:src="@{/js/doctorsSearch.js}"></script>
</body>

</html>
