<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->


<!-- Navigation-->

<div class="content-wrapper">
    <div class="container-fluid overflow-hidden">
        <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
            <!-- Page Title -->

            <!-- // Page Title -->
            <!-- class="fas fa-hand-holding-medical -->
            <div class="margin-tb-45px full-width">

                <div class="padding-30px background-white border-radius-20 box-shadow">
                    <div id="page-title" class="padding-30px background-white full-width">
                        <div class="container">
                            <ol class="breadcrumb opacity-5">
                                <li>
                                    <a th:href="@{/doctors/doctor/{id}/examinations (id=${doctorId})}">examinations</a><i
                                        class="fas fa-arrow-right padding-left-10px "></i></li>
                                <li>
                                    <a th:href="@{/examinations/examination/{id}(id=${examinationId})}">examination</a><i
                                        class="fas fa-arrow-right padding-left-10px"></i></li>
                                <li class="active">Prescription</li>
                            </ol>
                            <h2><i class="fas fa-hand-holding-medical margin-right-10px text-main-color"></i>
                                Examination </h2>
                        </div>
                    </div>

                    <div>

                        <form th:action="@{/examinations/examination/{id}/add-prescription(id=${examinationId})}"
                              method="POST"
                              th:object="${addPrescriptionBindingModel}">


                            <div class="margin-bottom-45px full-width">
                                <div class="padding-30px background-white border-radius-20 box-shadow">

                                    <h3><i class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                                        Prescription: </h3>
                                    <hr>
                                    <div class="margin-bottom-20px">
                                        <th:block th:if="${pastPrescriptionExist}">
                                            <textarea

                                                    th:value="*{doctorPrescription}"
                                                    th:text="${pastPrescription.doctorPrescription}"
                                                    required="required"
                                                    name="doctorPrescription"
                                                    placeholder="Enter prescription"
                                                    minlength="10"
                                                    maxlength="100"
                                                    class="form-control"
                                                    id="exampleTextarea" rows="3"></textarea>
                                            <small th:if="${#fields.hasErrors('doctorPrescription')}"
                                                   th:errors="*{doctorPrescription}"
                                                   id="doctorPrescriptionError"
                                                   class="text-light form-text bg-danger rounded">custom error</small>
                                            <div class="form-group margin-bottom-20px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label><i
                                                                class="fas fa-user-md margin-right-10px text-main-color"></i>
                                                            Days:</label>
                                                        <input
                                                                th:field="${pastPrescription.days}"
                                                                name="days"
                                                                th:value="*{days}"
                                                                required="required"
                                                                type="number" min="0" max="100" step="1">
                                                    </div>
                                                    <small th:if="${#fields.hasErrors('days')}"
                                                           th:errors="*{days}"

                                                           class="text-light form-text bg-danger rounded">custom
                                                        error</small>
                                                </div>
                                            </div>


                                        </th:block>
                                        <th:block th:unless="${pastPrescriptionExist}">
                                            <textarea

                                                    th:field="*{doctorPrescription}"
                                                    required="required"
                                                    name="doctorPrescription"
                                                    placeholder="Enter prescription"
                                                    minlength="10"
                                                    maxlength="100"
                                                    class="form-control"
                                                    rows="3"></textarea>
                                            <small th:if="${#fields.hasErrors('doctorPrescription')}"
                                                   th:errors="*{doctorPrescription}"

                                                   class="text-light form-text bg-danger rounded">custom error</small>

                                            <div class="form-group margin-bottom-20px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label><i
                                                                class="fas fa-user-md margin-right-10px text-main-color"></i>
                                                            Days:</label>
                                                        <input
                                                                name="days"
                                                                th:field="*{days}"
                                                                required="required"
                                                                type="number" min="0" value="1" max="100" step="1">
                                                    </div>
                                                    <small th:if="${#fields.hasErrors('days')}"
                                                           th:errors="*{days}"

                                                           class="text-light form-text bg-danger rounded">custom
                                                        error</small>
                                                </div>
                                            </div>


                                        </th:block>


                                    </div>


                                </div>

                            </div>
                            <a>
                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                        type="submit"><i
                                        class=" fas fa-hand-holding-medical"></i> Save prescription
                                </button>
                            </a>


                        </form>
                        <a  th:href="@{/examinations/examination/{id}/add-disease (id=${examinationId})}">
                            <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                            ><i
                                    class=" fas fa-hand-holding-medical"></i> Add Disease
                            </button>
                        </a>
                        <a th:href="@{/examinations/examination/{id}(id=${examinationId})}">
                            <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                            ><i
                                    class=" fas fa-hand-holding-medical"></i> Back to examination
                            </button>
                        </a>
                        <a th:href="@{/examinations/examination/{id}/complete(id=${examinationId})}">
                            <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block">
                                <i
                                        class=" fas fa-hand-holding-medical"></i> Finish examination
                            </button>
                        </a>
                    </div>


                    <!--                        <a href="#"-->
                    <!--                            class="btn btn-lg border-2   btn-primary btn-block border-radius-15 padding-15px box-shadow"><i-->
                    <!--                                class=" fas fa-hand-holding-medical"></i> Finish Examination</a>-->
                    <!--                                <a href="#"-->
                    <!--                                class="btn btn-lg border-2   btn-primary btn-block border-radius-15 padding-15px box-shadow"><i-->
                    <!--                                    class=" fas fa-hand-holding-medical"></i> Add Disease to this Patient</a>-->
                </div>

            </div>
        </div>
    </div>

    <div th:insert="fragments/fragments :: footer"></div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


</div>

<div th:insert="fragments/fragments :: js"></div>
</body>

</html>