<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
<!-- // Header  -->


<!-- Navigation-->

<div class="content-wrapper">
    <div class="container-fluid overflow-hidden">
        <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
            <!-- Page Title -->

            <!-- // Page Title -->

            <div class="margin-tb-45px full-width">

                <div class="padding-30px background-white border-radius-20 box-shadow">
                    <div id="page-title" class="padding-30px background-white full-width">
                        <div class="container">
                            <ol class="breadcrumb opacity-5 text-main-color">
                                <li><a th:href="@{/home}">Home</a><i
                                        class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>
                                <li><a th:href="@{/doctors/doctor/profile}">Doctor profile</a><i
                                        class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>

                                <li>
                                    <a th:href="@{ /doctors/doctor/{id}/examinations (id=${examinationDetails.doctorId})}">Doctor
                                        examinations</a><i
                                        class="fas fa-arrow-right padding-left-10px text-main-color "></i></li>
                                <li class="active">Examination</li>
                            </ol>
                            <th:block th:switch="${examinationDetails.progressionEnum.name}">
                                <h1 th:case="'BOOKED'" class="font-weight-300 text-warning"><i
                                        class="fas fa-hand-holding-medical margin-right-10px text-main-color"></i>
                                    Progress: Booked </h1>
                                <h1 th:case="'CURRENT'" class="font-weight-300 text-danger"><i
                                        class="fas fa-hand-holding-medical margin-right-10px text-main-color"></i>
                                    Progress: Working on it </h1>
                                <h1 th:case="'DONE'" class="font-weight-300 text-success"><i
                                        class="fas fa-hand-holding-medical margin-right-10px text-main-color"></i>
                                    Progress: Complete </h1>
                            </th:block>

                        </div>
                    </div>
                    <div class="h4">
                        <div class="row">
                            <div class="col-md-6 margin-bottom-20px">
                                <h4><i
                                        class="fas fa-user-plus margin-right-10px margin-top-10px margin-bottom-10px text-main-color"
                                        th:text="|Patient name: ${patientInfo.fullName}|"></i>
                                </h4>
                                <h4><i
                                        class="fas fa-mobile-alt margin-right-10px margin-top-10px margin-bottom-10px text-main-color"
                                        th:text="|Phone:${patientInfo.phone}|"></i>
                                </h4>
                            </div>
                        </div>
                        <th:block th:object="${patientInfo}" sec:authorize="hasRole('ROLE_DOCTOR')">

                            <div class="form-group margin-bottom-20px">
                                <div class="row">
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="fas fa-restroom margin-right-10px text-main-color"
                                                th:text="|Sex:*{sex}|"></i>

                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-hand-holding-medical margin-right-10px text-main-color"
                                            th:text="|Age:*{age}|"></i>
                                        </label
                                        >
                                    </div>

                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i
                                                class="fas fa-arrows-alt-v margin-right-10px text-main-color"
                                                th:text="| Height:*{height}|"></i>
                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-weight margin-right-10px" th:text="| Weight:*{weight}|"></i>
                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-book-medical margin-right-10px" th:text="*{bmi}"></i>
                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-running margin-right-10px"
                                            th:text="|Exercise: *{exercise}| "></i>
                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-wine-bottle margin-right-10px"
                                            th:text="|Drinking habits: *{drinking}|"></i>
                                        </label
                                        >

                                    </div>
                                    <div class="col-md-6 margin-bottom-20px">
                                        <label class="text-main-color"
                                        ><i class="fas fa-smoking margin-right-10px"
                                            th:text="|Smoking habits: *{smoking}|"></i>
                                        </label
                                        >
                                    </div>
                                </div>
                            </div>
                        </th:block>

                        <div class="col-md-6">
                            <label><i
                                    class="fas fa-stethoscope margin-right-10px text-main-color"
                                    th:text="|Department: ${examinationDetails.typeOfBranch}|"></i>
                            </label>
                            <label><i class="fas fa-user-md margin-right-10px text-main-color"
                                      th:text="|Doctor
                                        name: ${examinationDetails.doctorFullName}|"></i> </label>
                            <label><i class="fas fa-user-md margin-right-10px text-main-color"
                                      th:text="|Examination date : ${examinationDetails.date}|"></i> </label>

                        </div>
                    </div>

                    <div class="margin-bottom-45px full-width">

                        <h3 class="text-main-color"><i class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                            Complain: </h3>

                        <div class="margin-bottom-20px">
                            <h4

                                    th:text="${examinationDetails.complain}"> Lorem ipsum dolor sit,
                                amet consectetur

                            </h4>

                        </div>


                    </div>

                    <div th:if="${examinationDetails.location!=null}" sec:authorize="hasRole('ROLE_USER')"
                         class="form-group margin-bottom-20px">
                        <h3><i class="fas fa-heartbeat margin-right-10px text-main-color" th:text="${location}"></i>
                        </h3>

                        <th:block th:if="${examinationDetails.progressionEnum.name!='DONE'}"
                                  sec:authorize="hasRole('ROLE_DOCTOR')">
                            <a th:href="@{/examinations/examination/{id}/add-prescription(id=*{id})}">
                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                        type="submit"><i
                                        class=" fas fa-hand-holding-medical"></i> Prescription
                                </button>
                            </a>
                            <a th:href="@{/examinations/examination/{isd}/add-disease (isd=*{id})}">
                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                        type="submit"><i
                                        class=" fas fa-hand-holding-medical"></i> Add Disease
                                </button>
                            </a>
                        </th:block>

                    </div>

                    <th:block th:if="${examinationDetails.location==null}" sec:authorize="hasRole('ROLE_DOCTOR')">

                        <form th:action="@{/examinations/examination/{id}(id=${examinationDetails.id})}"
                              method="POST"
                              th:object="${examinationByDoctorBindingModel}">
                            <div class="form-group margin-bottom-20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i
                                                class="fas fa-lungs-virus margin-right-10px text-main-color"></i>
                                            Part of the body:</label>
                                        <select name="partOfTheBody"
                                                required="required"

                                                type="text" class="form-control form-control-lg"
                                        >
                                            <option th:each="partOfTheBody : ${T(medical.medical.files.model.enums.PartOfTheBodyEnum).values()}"
                                                    th:value="${partOfTheBody}"
                                                    th:text="${partOfTheBody}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label><i
                                                class="fas fa-user-injured margin-right-10px text-main-color"></i>

                                            Side of the body:</label>
                                        <select name="sideOfTheBody"
                                                required="required"
                                                th:errorclass="is-invalid"
                                                type="text" class="form-control form-control-lg"
                                        >
                                            <option th:each="sideOfTheBody : ${T(medical.medical.files.model.enums.SideOfTheBodyEnum).values()}"
                                                    th:value="${sideOfTheBody}"
                                                    th:text="${sideOfTheBody}"></option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="margin-bottom-45px full-width">
                                <div class="padding-30px background-white border-radius-20 box-shadow">
                                    <h3><i class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                                        Exact Location: </h3>
                                    <hr>
                                    <div class="margin-bottom-20px">
                                        <textarea name="exactLocation"

                                                  th:field="*{exactLocation}"
                                                  th:errorclass="is-invalid"

                                                  class="form-control" placeholder="Camplain"
                                                  rows="3"
                                                  id="exactLocation"></textarea>
                                    </div>
                                    <small th:if="${#fields.hasErrors('exactLocation')}"
                                           th:errors="*{exactLocation}"
                                           id="exactLocation.error"
                                           class="text-light form-text bg-danger rounded">custom error</small>
                                </div>
                            </div>
                            <button class="btn btn-sm padding-sm-20px padding-top-10px text-white background-main-color btn-inline-block"
                                    type="submit"><i
                                    class=" fas fa-hand-holding-medical"></i> Update Examination
                            </button>
                        </form>
                    </th:block>

                    <th:block th:if="${examinationDetails.progressionEnum.name=='DONE'}">
                        <div class="margin-bottom-20px">
                            <h3 class="text-main-color"><i
                                    class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                                Prescription: </h3>

                            <h4

                                    th:text="${examinationDetails.prescription.doctorPrescription}"> Lorem ipsum dolor
                                sit,
                                amet consectetur
                            </h4>
                            <h3 class="text-main-color"><i
                                    class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                                Days: </h3>
                            <h4

                                    th:text="${examinationDetails.prescription.days}"> Lorem ipsum dolor sit,
                                amet consectetur
                            </h4>
                        </div>

                    </th:block>

                </div>
                <div class="row">
                    <div class=" col-xl margin-tb-25px full-width ">
                        <h3><i class="fas fa-x-ray margin-right-10px text-main-color"></i> Additional data:
                        </h3>
                        <div id="setZoomPhoto"  >
                            <button id="btnClose" onclick="closeMe()">Close</button>

                        </div>
                        <div id="popup">



                        </div>
                        <!-- Favorite item -->
                        <th:block th:each="additional:${additionalDataArray}" th:object="${additional}">

                            <div class="additionalData rounded  col-ms-6 margin-bottom-20px background-white thum-hover box-shadow hvr-float full-width  margin-bottom-45px">

                                <div class="row">
                                    <div class="col">
                                        <a class=" d-block additionalData text-grey-2 float-left margin-right-30px"
                                           onclick="zoomPhoto(event)">
                                            <img

                                                    weight="200"
                                                    height="200"
                                                    th:src="*{file}"
                                                    class="height-100px" alt=""></a>
                                    </div>
                                    <div class="col-sm">
                                        <h2>
                                            <!-- //Todo  направи така че като
                                          цъкнеш на снимката да се отваря в малко прозорче с х -->
                                            <p class=" d-block text-dark text-capitalize text-medium margin-tb-15px"
                                               th:text="|*{type}  *{date}|">Type of
                                                additional data and date made</p>
                                            <p class="  d-block text-dark text-capitalize text-medium margin-tb-15px"
                                               th:text="|Location: *{location.sideOfTheBody}
                                   *{location.partOfTheBody}
                                 *{location.exactLocation}|"
                                            >location</p>
                                        </h2>
                                    </div>



                                </div>
                                </div>
                        </th:block>


                        <th:block th:if="${examinationDetails.progressionEnum.name!='DONE'}"
                                  sec:authorize="hasRole('ROLE_DOCTOR')">
                            <a th:href="@{/examinations/examination/{id}/add-additional-data(id=*{id})}">
                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"
                                ><i
                                        class=" fas fa-hand-holding-medical"></i> Add additional data
                                </button>
                            </a>
                        </th:block>

                    </div>
                    <div class=" col-xl margin-tb-25px full-width">
                        <h3><i class="fas fa-x-ray margin-right-10px text-main-color"></i> Diseases:
                        </h3>
                        <div class="clearfix"></div>
                        <!-- Favorite item -->
                        <th:block th:each="disease : ${patientDiseases}" th:object="${disease}">
                            <div class="additionalData padding-top-20px rounded padding-left-20px col-ms-6 margin-bottom-20px background-white thum-hover box-shadow hvr-float full-width  margin-bottom-45px">
                                <div class="row">
                                    <div class="col-lg">
                                        <h3 class="text-main-color"><i
                                                class="fas fa-heartbeat margin-right-10px text-main-color"
                                                th:text="|Disease name :  *{name}|"></i>
                                        </h3>


                                    </div>
                                    <div class="col-lg">
                                        <h3 class="text-main-color"><i
                                                class="fas fa-heartbeat margin-right-10px text-main-color"
                                                th:text="|Type: *{type}|"></i>
                                        </h3>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">

                                        <h4 class="text-main-black margin-right-10px"

                                            th:text="|Is it curable:  *{isCurable}|"> Lorem ipsum dolor
                                            sit,
                                            amet consectetur
                                        </h4>
                                    </div>
                                    <div class="col-lg">

                                        <h4 class="text-main-black bold margin-right-10px"

                                            th:text="| Chronic: *{isChronic}|"> Lorem ipsum dolor sit,
                                            amet consectetur
                                        </h4>
                                    </div>

                                </div>
                                <div>
                                    <h3 class="text-main-color"><i
                                            class="fas fa-heartbeat margin-right-10px text-main-color"></i>
                                        Description: </h3>
                                    <p

                                            th:text="*{description}"> Lorem ipsum dolor sit,
                                        amet consectetur
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </th:block>


                        <!--                        <th:block th:if="${examinationDetails.progressionEnum.name!='DONE'}"-->
                        <!--                                  sec:authorize="hasRole('ROLE_DOCTOR')">-->
                        <!--                            <a th:href="@{/examinations/examination/{id}/add-additional-data(id=*{id})}">-->
                        <!--                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"-->
                        <!--                                ><i-->
                        <!--                                        class=" fas fa-hand-holding-medical"></i> Add additional data-->
                        <!--                                </button>-->
                        <!--                            </a>-->
                        <!--                        </th:block>-->

                    </div>
                    <div class=" col-xl margin-tb-25px full-width">
                        <h3><i class="fas fa-x-ray margin-right-10px text-main-color"></i> Previous examinations:
                        </h3>
                        <div class="clearfix"></div>
                        <!-- Favorite item -->
                        <th:block th:each="examinationPatient : ${patientExaminations}"
                                  th:object="${examinationPatient}">
                            <a th:href="@{/examinations/examination/{id}(id=*{id})}"
                            >
                                <div class="additionalData rounded padding-left-20px padding-top-20px col-ms-6 margin-bottom-20px background-white thum-hover box-shadow hvr-float full-width  margin-bottom-45px">

                                    <div>
                                        <h3 class="text-main-black" th:text="|Date:*{date}|">
                                        </h3>
                                    </div>
                                    <div>
                                        <h3 class="text-main-black"
                                            th:text="|Department and Doctor :*{typeOfBranch},  *{doctorFullName}  |">
                                        </h3>

                                    </div>


                                    <div>
                                        <h3 class="text-main-color" th:text="|Complain:  *{complain}">
                                        </h3>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                        </th:block>


                        <!--                        <th:block th:if="${examinationDetails.progressionEnum.name!='DONE'}"-->
                        <!--                                  sec:authorize="hasRole('ROLE_DOCTOR')">-->
                        <!--                            <a th:href="@{/examinations/examination/{id}/add-additional-data(id=*{id})}">-->
                        <!--                                <button class="btn btn-sm padding-sm-20px text-white background-main-color btn-inline-block"-->
                        <!--                                ><i-->
                        <!--                                        class=" fas fa-hand-holding-medical"></i> Add additional data-->
                        <!--                                </button>-->
                        <!--                            </a>-->
                        <!--                        </th:block>-->

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->


</div>
</div>
</div>
<div th:insert="fragments/fragments :: footer"></div>
<div th:insert="fragments/fragments :: js"></div>
</body>

</html>