<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head">


</head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>

<div class="all">
    <div class=" infoBox ">
        <h3> Patient number of examinations:</h3>
        <tr>
            <td>
                <div class="part">
                    <p>Red more than 10.</p>
                </div>

            </td>
            <td>
                <div class="part">
                    <p>Blue from 7 to 10.</p>
                </div>
            </td>
            <td>
                <div class="part">
                    <p>Yellow from 3 to 6.</p>
                </div>
            </td>
        </tr>


    </div>


    <div class="body-form">


        <tr>
            <td>
                <div class="part"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/11_pdsocb.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part head"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/12_xk10hd.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/13_emopm9.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part others"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/14_esrjbu.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/15_l2wtli.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part head neck"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/16_l1nu6a.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/17_pztino.png"
                        alt=""></div>
            </td>

        </tr>
        <br>
        <tr>
            <td>
                <div class="part right-shoulder"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081413/medicalApp/photo/21_rrttlt.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part chest"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/22_flycln.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-shoulder"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/23_fsvuu8.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part "><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/24_ysrp3r.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-shoulder"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/25_zu3tdi.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part back"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/26_yj81ul.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part right-shoulder"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/27_cc7l7v.png"
                        alt=""></div>
            </td>

        </tr>
        <br>
        <tr>
            <td>
                <div class="part right-hand"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081414/medicalApp/photo/31_upoibp.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part stomach"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/32_aews7w.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-hand"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/33_ze4fd4.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/34_kyulq4.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-hand"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/35_oaehk5.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part  back"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/36_avs9ng.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part right-hand"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081415/medicalApp/photo/37_o2s1wh.png"
                        alt=""></div>
            </td>


        </tr>
        <br>
        <tr>
            <td>
                <div class="part right-leg"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081416/medicalApp/photo/51_byapgf.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-leg"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081416/medicalApp/photo/52_d1pm5u.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part left-leg"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081416/medicalApp/photo/53_rtsks7.png"
                        alt=""></div>
            </td>
            <td>
                <div class="part right-leg"><img
                        src="https://res.cloudinary.com/aswace/image/upload/v1617081416/medicalApp/photo/54_aijys7.png"
                        alt=""></div>
            </td>


        </tr>
    </div>

</div>


<script src="js..js"></script>

<div th:insert="fragments/fragments :: footer"></div>
<div th:insert="fragments/fragments :: js"></div>
<script src="/js/body.js"></script>
</body>
</html>