<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragments :: header"></nav>
</header>
    <!-- // Header  -->

    <!-- Navigation-->

    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                <div id="page-title" class="padding-30px background-white full-width box-shadow">
                    <div class="container">
                        <ul class="breadcrumb opacity-5">
                            <li><a href="/templates/home.html">Home</a><i class="fas fa-arrow-right padding-left-10px text-main-color " ></i></li>
                            <li><a href="/templates/doctor-profile/doctor-profile.html">Doctor</a><i class="fas fa-arrow-right padding-left-10px text-main-color " ></i></li>
                            <li class="active">Comments</li>
                       </ul>
                        <h1 class="font-weight-300">Reviews and raiting</h1>
                        <div class="rating">
                            <ul>
                                
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- // Page Title -->
                <div class="margin-tb-45px">
                    <div class="margin-bottom-30px box-shadow">
                        <div class="padding-30px background-white">
                             
                            

                            <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                                    <div class="margin-left-85px">
                                        
                                        <span class="text-extra-small">Date : <a href="#" class="text-main-color">July
                                                15, 2016</a></span>
                                        <div class="rating">
                                            <ul>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a
                                            reader will be distracted by the readable content of a page when looking at
                                            its layout. </p>
                                    </div> 
                                    
                                </li>
                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                                    <div class="margin-left-85px">
                                        
                                        <span class="text-extra-small">Date : <a href="#" class="text-main-color">July
                                                15, 2016</a></span>
                                        <div class="rating">
                                            <ul>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a
                                            reader will be distracted by the readable content of a page when looking at
                                            its layout. </p>
                                    </div> 
                                    
                                </li>
                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                                    <div class="margin-left-85px">
                                        
                                        <span class="text-extra-small">Date : <a href="#" class="text-main-color">July
                                                15, 2016</a></span>
                                        <div class="rating">
                                            <ul>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a
                                            reader will be distracted by the readable content of a page when looking at
                                            its layout. </p>
                                    </div> 
                                    
                                </li>
                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                                    <div class="margin-left-85px">
                                        
                                        <span class="text-extra-small">Date : <a href="#" class="text-main-color">July
                                                15, 2016</a></span>
                                        <div class="rating">
                                            <ul>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a
                                            reader will be distracted by the readable content of a page when looking at
                                            its layout. </p>
                                    </div> 
                                    
                                </li>
                                 
                            </ul>

                        </div>
                    </div>
                    <ul class="pagination pagination-md ">
                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                    </ul>
                    <!-- //pagination -->

                </div>

            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <div th:insert="fragments/fragments :: footer"></div>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>


    </div>



<div th:insert="fragments/fragments :: js"></div>


</body>

</html>
